{{> header}}
<!--   views/livros/novo.hbs -->

  <div class="container-box">
    <div class="row">
      <div class="col-md-8">
    
   <form action="/livros/novo" method="POST">
    <div class="form-group">
      <label for="ibs">ISBN</label>
      <input type="text" class="form-control" name="isbn" placeholder="Digite o TSBN do Livro">
    </div>
    
    <div class="form-group">
      <label for="titulo">Titulo</label>
      <input type="text" class="form-control" name="titulo" placeholder="Digite o Titulo do livro">
    </div>
    
     <div class="form-group">
      <label for="edica">edicao</label>
      <input type="text" class="form-control" name="edicao" placeholder="Digite a edicao do livro" >
    </div>
    
     <div class="form-group">
       <button class="btn btn-success">CADASTRAR</button>
    </div>
    
  </form></div>
      <div class="col-md-4"></div>
    </div>

  
  </div>

{{> footer}}